
.navbar-default .navbar-nav > li {
  cursor: pointer;
  padding: 15px 20px;
  margin-top: -7px;
  font-weight: bold;
}
.navbar-default .navbar-nav > li:hover {

}
.navbar-default .navbar-nav > li.active {

}
